#**About Me: Nina <3**

##Basic Info
* Full Name- Nina Salamar Medis
* Age- 16 years old
* Grade- Junior
* Birthday- August 5th
* Astrological Signs- 
    * Sun: Leo
    * Rising: Gemini
    * Moon: Scorpio
* Born- Brockton, Massachusetts
* Education- 
    * Elementary and Middle School- Edgar B. Davis K-8
    * High School- Brockton High School

##Family 

